<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <h2>ET-API </h2>
    <p> API functions : </p>
    <ul>
        <li>/transactions
            <ul>
                <li>http://localhost:8000/api/get_transactions/2024-01-01/2025-01-15/</li>
                <li>http://localhost:8000/api/get_outcomes/2024-01-01/2025-01-15/</li>
                <li>http://localhost:8000/api/get_incomes/2023-01-01/2025-01-15/</li>
                <li>http://localhost:8000/api/get_bankAccount_info/f47ac10b-58cc-4372-a567-0e02b2c3d479/</li>
                <li>http://localhost:8000/api/get_category/f47ac10b-58cc-4372-a567-0e02b2c3d324/</li>
            </ul>
        </li>
    </ul>
</body>
</html>