<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ message }}</h1>
    <h2>ET-API </h2>
    <p> API functions : </p>
    <ul>
        <li>/transactions
            <ul>
                <li>Get transactions per date ex : http://localhost:8000/api/transactions/2024-10-22/ </li>
                <li>Get all transactions ex : http://localhost:8000/api/transactions/all/ </li>
            </ul>
        </li>
        <li>/spendings
            <ul>
                <li>Get all the spending from one category ex : http://localhost:8000/api/spendings/123e4567-e89b-12d3-a456-426614174000/ </li>
            </ul>
        </li>
    </ul>

</body>
</html>