{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Title{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <script src="{% static 'js/base.js' %}"></script>
        {% block head %}{% endblock head %}
    </head>
    <body>
        <input type="hidden" id="userId" value="{{ user.id }}">
        <aside class="sidebar">
            <h2>ET-HOME</h2>
            <nav>
                {% for link in nav_links %}
                	<a href="{% url link.url_name %}" class="{% if request.resolver_match.url_name == link.url_name %}active{% endif %}">{{ link.label }}</a>
                {% endfor %}
            </nav>
            <a href="{% url "logout" %}" class="logout">Logout</a>
        </aside>
        <main class="main-content">
            <header>
                {% block header %}{% endblock %}
                <div class="user-info">
                    <img src="{% static "images/icon_profile.svg" %}" alt="User Avatar"/>
                    <span>{{ user.first_name }} {{ user.last_name }}</span>
                </div>
            </header>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>