{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
{% block main %}
    <header>
        <h1>Welcome back, {{ user.username }}</h1>
        <div class="search">
            <input type="text" placeholder="Search"/>
            <i class="icon-search"></i>
        </div>
        <div class="user-info">
            <img src="" alt="User Avatar"/>
            <span>{{ user.first_name }} {{ user.last_name }}</span>
        </div>
    </header>

    <section class="widgets">
        {% include "widgets/spendings.html" with id='current-month' %}
        {% include "widgets/last_month.html" with id='last-month' icon='images/icon_last_month.svg' %}
        {% include "widgets/add_expense.html" with id='add-expense' icon='images/icon_add_expense.svg' %}
    </section>

    <section class="expenses">
        <h2>Expenses</h2>
        <canvas id="expenses-chart"></canvas>
    </section>

    <section class="top-categories">
        <h2>Top Categories</h2>
        <div class="categories-chart"></div>
    </section>
{% endblock %}