{% extends "base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
{% block header %}
    <h1>Welcome back, {{ user.username }}</h1>
{% endblock %}
{% block main %}
    {% csrf_token %}
    <section class="widgets">
        {% include "widgets/spendings.html" with id='current-month' icon='images/icon_current_month.svg' %}
        {% include "widgets/accounts.html" with id='accounts' icon='images/icon_accounts.svg' %}
        <div class="small-widgets">
            {% include "widgets/add_transaction.html" with id='add-transaction' icon='images/icon_add_transaction.svg' %}
            {% include "widgets/add_account.html" with id='add-account' icon='images/icon_add_account.svg' %}
        </div>
        {% include "widgets/last_month.html" with id='last-month' icon='images/icon_last_month.svg' %}
        {% include "widgets/expenses.html" with id='expenses' %}
        {% include "widgets/top_categories.html" with id='top-categories' %}
    </section>
{% endblock %}