{% extends "login_register_base.html" %}
{% block page-title %}Login{% endblock %}
{% block title %}Login{% endblock %}
{% block fields %}
    <div class="field">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="johnny" required/>
    </div>
    <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required/>
    </div>
{% endblock %}
{% block action %}Log in{% endblock %}
{% block alternative %}
    <span>Don't have an account?</span>
    <a href="{% url 'register' %}">Register here</a>
{% endblock %}