{% extends "login_register_base.html" %}
{% block page-title %}Register{% endblock %}
{% block title %}Register{% endblock %}
{% block fields %}
    <div class="field">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="johnny" required>
    </div>
    <div class="field">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <div class="field">
        <label for="firstname">Firstname</label>
        <input type="text" name="firstname" id="firstname" placeholder="John" required>
    </div>
    <div class="field">
        <label for="lastname">Lastname</label>
        <input type="text" name="lastname" id="lastname" placeholder="Doe" required>
    </div>
    <div class="field">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="john@doe.com" required>
    </div>
{% endblock %}
{% block action %}Register{% endblock %}
{% block alternative %}
    <span>Already have an account?</span>
    <a href="{% url 'login' %}">Log in here</a>
{% endblock %}