{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>
<body>
    <h2>Register</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="field">
            <label for="username">Username</label>
            <input type="text" required name="username" id="username"></label>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input type="password" required name="password" id="password"></label>
        </div>
        <div class="field">
            <label for="firstname">Firstname</label>
            <input type="text" required name="firstname" id="firstname"></label>
        </div>
        <div class="field">
            <label for="lastname">Lastname</label>
            <input type="text" required name="lastname" id="lastname"></label>
        </div>
        <div class="field">
            <label for="email">Email</label>
            <input type="email" required name="email" id="email"></label>
        </div>
        <button type="submit">Register</button>
    </form>
</body>
</html>