{% extends "base.html" %}
{% load static %}
{% block title %}Setup TOTP{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/totp.css" %}">
    <script src="{% static "js/totp.js" %}"></script>
{% endblock %}
{% block header %}
    <h1>Setup TOTP</h1>
{% endblock %}
{% block main %}
    {% csrf_token %}
    <div class="container">
        <h2>Two-Factor Authentication</h2>
        <p>
            Set up TOTP on your authenticator app with the QR-Code or the key below.
            Don't leave this page before completing the setup, you will not be able to see the key again !
        </p>
        <form class="nice-form" id="totp-form">
            <div class="qr">
                <img id="qr" src="{{ qrcode }}">
            </div>
            <div class="field">
                <label for="key">Key</label>
                <input type="text" name="key" id="key" readonly value="{{ key }}">
            </div>
            <div class="field">
                <label for="code">Code</label>
                <input type="text" name="code" id="code" autocomplete="one-time-code" placeholder="000000" required>
            </div>
            <button type="submit">Confirm</button>
        </form>
    </div>
{% endblock %}