{% extends "base.html" %}
{% load static %}
{% block title %}Transactions{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/transactions.css' %}">
    <script src="{% static 'js/transactions.js' %}"></script>
{% endblock %}
{% block header %}
    <h1>Transactions</h1>
{% endblock %}
{% block main %}
    {% csrf_token %}
    <div class="transaction">
        <div class="header-transaction">
            <a class="add-expense" href="{% url 'add_expenses' %}"> + Add Expense</a>
            <div class="dropdown">
                <div class="dropdown-toggle">Order by Date</div>
                <ul class="dropdown-menu">
                    <li class="order-by-date" data-sort="date">Order by Date</li>
                    <li class="order-by-category" data-sort="category">Order by Category</li>
                </ul>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Account</th>
                    <th>Category</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                    <tr data-id="{{ transaction.id }}">
                        <td>{{ transaction.account.account_number }}</td>
                        <td>{{ transaction.category.name }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.description }}</td>
                        <td><button class="edit-btn">Edit</button></td>
                        <td>
                            {% if not transaction.account %}
                                <button class="delete-btn">Delete</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}