h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 30em;
    margin: 0 auto;
}

form .field {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

form .field input, form .field select, form .field textarea {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--light-3);
    border: solid var(--dark-4) 1px;
    border-radius: 4px;
    padding: 0.4em;
}

form .field select {
    cursor: pointer;
}

form button {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--dark-2);
    color: var(--light-1);
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 8px;
    align-self: center;
    cursor: pointer;
}

form button:hover {
    background-color: var(--dark-3);
}

form button:active {
    background-color: var(--dark-1);
}
form button:disabled {
    background-color: var(--light-4);
    color: var(--dark-4);
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 65em;
    margin: 0 auto;
}

table thead {
    border-bottom: solid var(--dark-1) 2px;
}

table th, table td {
    text-align: left;
    padding: 0.4em 0.8em;
}

table th:not(:first-child) {
    border-left: solid var(--dark-1) 2px;
}

table tr:nth-child(even) {
    background-color: var(--light-3);
}