header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widgets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.widget {
    --bg: var(--light-1);
    --fg: var(--dark-1);
    --bg-2: var(--light-2);
    --fg-2: var(--dark-1);
    flex: 1;
    background-color: var(--bg);
    color: var(--fg);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1em;
    cursor: pointer;
    transition: box-shadow 0.2s;
    min-width: 10em;
}

.widget.inverted {
    --bg: var(--dark-1);
    --fg: var(--light-1);
    --bg-2: var(--dark-3);
    --fg-2: var(--light-1);
}

.widget .title {
    display: flex;
    gap: 1em;
    align-items: center;
    height: 2em;
}

.widget .title .text {
    font-size: 120%;
    font-weight: bold;
}

.widget .title .icon {
    width: 2em;
    height: 2em;
    background-color: var(--bg-2);
    position: relative;
    border-radius: 0.6em;
}

.widget .title .icon::after {
    content: "";
    width: 1.4em;
    height: 1.4em;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: var(--fg-2);
    mask-image: var(--icon);
    -webkit-mask-image: var(--icon);
    mask-size: contain;
    -webkit-mask-size: contain;
}

.widget:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#current-month .value, #last-month .total .value {
    font-weight: bold;
}

#add-expense {
    align-self: flex-start;
}

.widget.last-month .diff {
    display: flex;
    gap: 0.4em;
    align-items: center;
}

.widget.last-month .diff .icon {
    background-color: var(--fg);
    width: 1em;
    height: 1em;
    mask-image: var(--icon);
    -webkit-mask-image: var(--icon);
    mask-size: contain;
    -webkiet-mask-size: contain;
}

.widget.last-month .diff .value {
    font-size: 80%;
}

.widget.top-categories .content {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.widget.top-categories .chart {
    width: 10em;
    height: 10em;
    align-self: center;
}

.widget.top-categories .list {
    display: flex;
    flex-direction: column;
}

.widget.top-categories .list .category {
    padding: 0.4em 0 0.4em 1.6em;
    position: relative;
    display: flex;
    align-items: center;
}
.widget.top-categories .list .category::before {
    content: "";
    position: absolute;
    left: 0.5em;
    top: 50%;
    width: 1em;
    height: 1em;
    border-radius: 25%;
    background-color: var(--col);
    transform: translate(-50%, -50%);
}
