header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.widgets {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.widget {
    --bg: var(--light-1);
    --fg: var(--dark-1);
    --bg-2: var(--light-2);
    --fg-2: var(--dark-1);
    flex: 1;
    background-color: var(--bg);
    color: var(--fg);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 1em;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.widget.inverted {
    --bg: var(--dark-1);
    --fg: var(--light-1);
    --bg-2: var(--dark-3);
    --fg-2: var(--light-1);
}

.widget .title {
    display: flex;
    gap: 1em;
    align-items: center;
    height: 2em;
}

.widget .title .text {
    font-size: 120%;
    font-weight: bold;
}

.widget .icon {
    width: 2em;
    height: 2em;
    background-color: var(--bg-2);
    position: relative;
    border-radius: 0.6em;
}

.widget .icon::after {
    content: "";
    width: 1.4em;
    height: 1.4em;
    position: absolute;
    inset: 0;
    margin: auto;
    background-color: var(--fg-2);
    mask-image: var(--icon);
    -webkit-mask-image: var(--icon);
    mask-size: contain;
    -webkit-mask-size: contain;
}

.widget:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

#current-month .value, #last-month .value {
    font-weight: bold;
}

#add-expense {
    align-self: flex-start;
}
