.container {
    display: flex;
    gap: 2em;
    padding: 2em;
    align-items: flex-start;
    overflow-y: auto;
}

.menu, .tabs {
    background-color: var(--light-1);
    padding: 2em;
    border-radius: 0.8em;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.menu a {
    padding: 0.8em 1.2em;
    min-width: 12em;
    color: var(--dark-1);
    text-decoration: none;
    border-radius: 0.6em;
}

.menu a:hover {
    background-color: var(--light-2);
}

.menu a.current {
    background-color: var(--light-3);
    font-weight: bold;
}

.tabs {
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100%;
}

.tab {
    display: flex;
    flex-direction: column;
}

.tab:not(.show) {
    display: none;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .field {
        display: flex;
        flex-direction: column;
        gap: 0.4em;

    }

    label {
        font-style: italic;
    }

    input, button {
        font-family: inherit;
        font-size: inherit;
    }

    input {
        padding: 0.4em 0.8em;
        border: solid var(--dark-1) 1px;
        border-radius: 0.4em;
    }

    button {
        background-color: var(--dark-1);
        color: var(--light-1);
        padding: 0.8em 3.6em;
        border: none;
        border-radius: 0.8em;
        align-self: center;
        cursor: pointer;
    }

    button:hover {
        background-color: var(--dark-2);
    }
}