body {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: #f0f0f0; /* Change this to any background color or image */
}

/* Add this CSS rule to align ET-HOME to the left */
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    background-color: #000000;
    color: white;
    height: 100vh; /* Full height of the screen */
    width: 2px; /* Adjust the width as needed */
    position: fixed;
    top: 0;
    left: 0;
}

#sidebar h1 {
    margin: 0;
    font-size: 24px;
    text-align: left; /* Ensures it's aligned to the left */
}

/* Adjust your content area */
#main-content {
    margin-left: 220px; /* Matches the width of the sidebar */
    padding: 20px;
    flex-grow: 1;
    background: #f0f0f0;
    min-height: 100vh;
}


#exportForm {
    padding: 20px;
    border: 10px solid #f2f2f2;
    border-radius: 5px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    position: absolute; /* To overlay the box */
    top: 500%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the box */
}

#exportForm .field {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    width: 100%;
}

#exportForm input[type="text"],
#exportForm input[type="password"] {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#exportButton {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
    width: 200px;
}

#exportButton:hover {
    background-color: #333333;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
}

p {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: left;
}
