.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    background-color: white;
    border-radius: 1em;
    padding: 2em;
}

.qr {
    display: flex;
    justify-content: center;
}

#qr {
    width: 15em;
    height: 15em;

}