.transaction {
    margin-top: 20px;
    background-color: white;
    border-radius: 20px;
}

.header-transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 20px;
}

.header-transaction a {
    text-align: center;
    color: white;
    background-color: black;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

.header-transaction a:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}



