{% extends 'bank/base.html' %}
{% load static %}
{% load random %}
{% block title %}Edit Transaction{% endblock %}
{% block page-name %}Edit a transaction{% endblock %}
{% block main %}
    <form data-endpoint="transactions/{{ transaction.id }}/edit" data-next="{% url "bank:transactions" %}">
        {% csrf_token %}
        <div class="field">
            <label for="account_id">Account number</label>
            <select name="account_id" id="account_id">
                {% for account in accounts %}
                    <option value="{{ account.id }}" {% if account.id == transaction.account.id %}selected{% endif %}>{{ account.account_number }} ({{ account.user.first_name }} {{ account.user.last_name }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="field">
            <label for="category_id">Category</label>
            <select name="category_id" id="category_id">
                {% for category in categories %}
                    <option value="{{ category.id }}" {% if category.id == transaction.category.id %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="field">
            <label for="amount">Amount</label>
            <input type="number" name="amount" id="amount" value="{{ transaction.amount }}" step="0.01">
        </div>
        <div class="field">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5">{{ transaction.description }}</textarea>
        </div>
        <button type="submit">Modify</button>
    </form>
{% endblock %}