{% extends 'bank/base.html' %}
{% load static %}
{% block title %}Transactions{% endblock %}
{% block head %}
    <script src="{% static "js/bank/transactions.js" %}"></script>
{% endblock %}
{% block page-name %}Transactions{% endblock %}
{% block main %}
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <th>Account</th>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr data-id="{{ transaction.id }}">
                    <td>{{ transaction.account.account_number }} ({{ transaction.account.user.first_name }} {{ transaction.account.user.last_name }})</td>
                    <td>{{ transaction.category.name }}</td>
                    <td>{{ transaction.amount }}</td>
                    <td>{{ transaction.date }}</td>
                    <td>{{ transaction.description }}</td>
                    <td><button class="edit-btn">Edit</button></td>
                    <td><button class="delete-btn">Delete</button></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}